<div class="input{{#if className}} {{className}}{{/if}}">
    {{#unless readonly}}
        <div class="input__title">{{ title }}</div>
    {{/unless}}
    {{#if readonly}}
        <label for="{{ name }}">Choose a username: </label>
        <input name="{{ name }}" value="{{ value }}" readonly>
        <img src = "assets/icon.svg" alt="My Happy SVG"/>
    {{else}}
        <input class="input__field" name="{{ name }}" value="{{ value }}">
    {{/if}}
</div>